* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    font-family: 'DM Sans',
        sans-serif;
    overflow-x: hidden;

}



header {
    padding: 2rem 0;
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);

}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 0 10px;
}

/* ---- */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    /*position: absolute;*/
    /*width: 185px;*/
    /*!*height: 65px;*!*/
    /*!*left: 335px;*!*/
    /*top: 665px;*/
    background: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
    border: none;
    font-size: 18px;
    color: #0F2137;
    margin-top: 25px;
    padding: 1rem 2rem;
    font-weight: 530;

}

.btn-ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*width: 185px;*/
    /*!*height: 65px;*!*/
    /*!*left: 1436px;*!*/
    /*top: 21px;*/
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    /*text-decoration: none;*/
    /*box-shadow: none;*/
    color: white;
    cursor: pointer;
    font-size: 19px;
    background-color: transparent;
    padding: 1rem 2rem;

}

.logo {
    /*position: absolute;*/
    /*width: 100px;*/
    /*!*height: 24px;*!*/
    /*!*left: 300px;*!*/
    /*top: 31px;*/

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /*line-height: 24px;*/
    /* identical to box height, or 120% */

    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.8;
}

.logo {

    display: flex;
    align-items: center;
    gap: 1rem;

    /*position: absolute;*/
    /*width: 32px;*/
    /*!*height: 22.4px;*!*/
    /*!*right: 110px;*!*/
    /*!*bottom: 5px;*!*/

}



.link {
    display: block;
    color: white;
    font-size: 16px;
    text-decoration: none;


}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0
}

.nav-list {
    display: flex;
    column-gap: 50px;
    align-items: center;
    /*width: 502px;*/
    /*!*height: 33px;*!*/
    /*!*left: 709px;*!*/
    /*top: 28.5px;*/
    /*!*margin-left: 600px;*!*/
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav__link img {
    /*position: relative;*/
    width: 40px;
    /*top: 5px;*/
    /*right: 10px;*/
}

.banner {
    background: url(../images/mockup.png) no-repeat right center / 700px;
    padding: 10rem 0;
    background-color: #1E3C72;
    border-bottom-right-radius: 300px;

}

.banner-text {
    width: 55%;
}

.banner-title {
    /*position: absolute;*/
    /*width: 642px;*/
    /*!*height: 301px;*!*/
    /*!*left: 335px;*!*/
    /*top: 181px;*/

    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    /*line-height: 100px;*/
    /*letter-spacing: -2px;*/
    color: #FFFFFF;
}

.banner-subtitle {
    /*position: absolute;*/
    /*width: 507px;*/
    /*!*height: 116px;*!*/
    /*!*left: 335px;*!*/
    /*top: 511px;*/
    /*font-family: 'DM Sans';*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /*line-height: 42px;*/
    color: #FFFFFF;
}

.banner-link {
    /*position: absolute;*/
    /*!*height: 22px;*!*/
    /*!*left: 600px;*!*/
    /*!*bottom: 130px;*!*/
    /*font-family: 'Gilroy-Medium';*/
    font-size: 20px;
    /*line-height: 21px;*/
    text-decoration: none;


}

.banner-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.banner-buttons img {
    /*position: absolute;*/
    width: 28px;
    margin-top: 28px;
}

/* sponsors */


.sponsors-title {
    /*position: relative;*/
    /*position: absolute;*/
    /*width: 106px;*/
    /*!*height: 42px;*!*/
    /*!*right: 1600px;*!*/
    /*top: 780px;*/
    /*font-family: 'DM Sans';*/
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /*line-height: 42px;*/
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 50px;
}

.sponsors-list {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;


}

.logo1 {
    /*position: absolute;*/
    width: 100px;
    /*!*height: 28px;*!*/
    /*!*left: 464px;*!*/
    /*top: 800px;*/

}

/* features */

.Features {
    margin-bottom: 200px;
}

.section-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #244886;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-title {
    display: flex;
    justify-content: center;
    color: #0F2137;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-top: 20px;

}

.Features-cards {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 3rem;
    /*left: 40px;*/

}

.Features-card {
    /*width: 265px;*/
    /*height: 267.5px;*/
    /*left: 463px;*/
    /*top: 1267px;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.card-head h3 {
    /*position: relative;*/
    margin-top: 20px;
    /*right: 10px;*/

}






.text {
    /*position: relative;*/
    margin-top: 25px;
    text-align: center;
    /*right: 30px;*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /*line-height: 28px;*/
    color: #343D48;
}

.card-body {
    text-align: center;
    margin-top: 1rem;
}

.text1 {
    /*position: relative;*/
    margin-top: 25px;
    /*text-align: center;*/
    /*right: 75px;*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /*line-height: 28px;*/
    color: #343D48;


}

/* section phone */
.phone {
    margin-top: 4rem;
}

.phone .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.core {
    /*position: relative;*/
    /*left: 700px;*/
    /*bottom: 750px;*/
    font-style: normal;
    font-size: 15px;
    /*line-height: 40px;*/
    color: #244886;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.Title {
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 50px;
}



.phone-card img {
    width: 100%;
}

.column {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.Jackpots {
    /*position: relative;*/
    letter-spacing: -1.5px;
    /*left: 700px;*/
    /*bottom: 750px;*/
    margin-top: 15px;
    font-weight: 700;
    font-size: 48px;
    /*line-height: 55px;*/
    color: #0F2137;
}



.smart {
    color: #0F2137;


}

.text-column1 {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #343D48;
    margin-bottom: 50px;
    margin-top: 15px;
}



.secure {
    /*position: relative;*/
    /*left: 780px;*/
    /*bottom: 730px;*/
    color: #0F2137;

}


.text_column {
    /*position: relative;*/
    /*left: 780px;*/
    /*bottom: 710px;*/
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    /*line-height: 26px;*/
    color: #343D48;
    margin-top: 15px;

}

/* icons */
.Card1 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.Card2 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    /*margin-bottom: 150px;*/
}

.icon-title {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    /*left: 45px;*/
    /*bottom: 100px;*/
}

.icon-title1 {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    /*left: 70px;*/
    /*bottom: 100px;*/
}

.icon-title2 {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    /*left: 30px;*/
    /*bottom: 100px;*/
}

.text-icon {
    /*position: relative;*/
    /*left: 100px;*/
    /*bottom: 80px;*/
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /*line-height: 26px;*/
    color: #343D48;
}

/* companies */
.core2 {
    margin-top: 50px;
    font-style: normal;
    font-size: 15px;
    /*line-height: 40px;*/
    color: #244886;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    font-weight: 700;
}

.jackpots2 {
    letter-spacing: -1.5px;
    /*left: 700px;*/
    /*bottom: 750px;*/
    margin-top: 50px;
    font-weight: 700;
    font-size: 48px;
    /*line-height: 55px;*/
    color: #0F2137;
}

.text-companies {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    /*line-height: 42px;*/
    color: #02073E;
    margin-top: 30px;
    font-weight: 500;
}



.companies-btn {
    font-family: 'DM Sans',
        sans-serif;
    width: 150px;
    /*height: 55px;*/
    background: #1F3E76;
    border-radius: 50px;
    color: white;
    font-weight: 300;
    font-size: 17px;
    /*line-height: 24px;*/
    border: none;
    letter-spacing: -0.16px;
    font-weight: 500;
    cursor: pointer;
}






/* function */


.function-text span {
    letter-spacing: 2.1px;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 700;
    /*line-height: 40px;*/
}